/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* *{
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans",sans-serif;
} */

.pa-box {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20000000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgb(0 37 77 / 85%);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pa-none {
  display: none;
}
.pa-container {
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 1rem;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  margin-right: 1rem;
  margin-left: 1rem;
}

.pa-btn {
  display: block;
  width: 100%;
  /* height: 5rem; */
  padding: 0.5rem 1rem;
  font-size: 1.06rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.pa-paragraph {
  color: white;

  font-size: .75rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 1rem;
}

.pa-link {
  color: white;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .pa-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .pa-paragraph,
  .pa-btn {
    margin-right: 15px;
    margin-left: 15px;
  }
}
